<div class="container" style="margin-top: 40px; margin-left: 100px;">
  <fieldset>
  <h3>Order placed succesfully!</h3>
  <div class="container">
    <table class="table" style="width: 60%;">
      <tr>
        <th>Order Id: </th>
        <td>{{order.orderId}}</td>
      </tr>
      <tr>
        <th>Order Date: </th>
        <td>{{transaction.transactionDate}}</td>
      </tr>
      <tr>
        <th>Order Amount: </th>
        <td>{{order.orderAmount}}</td>
      </tr>
      <tr>
        <th>Shipping Address: </th>
        <td>
          {{address.address_line1}}
          {{address.address_line2}}
          {{address.landmark}}
          {{address.district}}
          {{address.state}}
          {{address.pinCode}}
        </td>
      </tr>
    </table>
  </div>
</fieldset>
  <div class="container" style="margin-left: 300px; margin-top: 5px;">
    <button class="btn invoice-btn" (click) = "downloadInvoice()">Download Invoice <i class="fas fa-arrow-circle-down"></i></button>
  </div>
</div>